html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#msg{
    font-family:"Lato",sans-serif;
    font-size: 25px;
    text-align: center;
    position:absolute;
    top:20%;
    width:100%;
}

#return-link:visited,#return-link:link{
    font-family:"Lato",sans-serif;
    font-size: 18px;
    color:#0cb4ad;
    text-decoration: none;
}

#return-link:hover{
    color:#ce8252;
}

#loading-overlay{
    position:absolute;
    width:100%;
    height: 100vh;
    background:#fff;
    z-index:300;
    
}

#spinner-cont{
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#header-bg{
    width:100%;
    height: 114px;
    background:url('../images/cov5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index: -10;
    top:0;
    left:0;
}
#header-thing{
    position: relative;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background:none;
    color:#fff;
    top:0;
    
}
.content-item{
    width: 100%;
    margin-bottom: 50px;
    border-bottom: solid 1px #133d4d;
    padding-bottom: 30px;
}

#return{
    margin-top: 5px;
    font-family: 'Lato','Segoe UI', sans-serif;
    width: 150px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    
    top: 5px;
    margin-left:5px;
    border-radius: 3px;
    display: block;
    color:#fff;
}

#return:hover,#return:focus,#return:active{
    
    color:#ef6f0c;
}
#return-txt{

}
#page-intro{
    margin-top: 20px;
    width: calc(100% - 20px);
    margin-left: 10px;
    font-size: 18px;
    margin-right: auto;
    text-align: left;
    font-family:"Lato",sans-serif;
    
}

.content-separator{
width:90%;
height:1px;
margin-left:auto;
margin-right:auto;	
margin-top: 20px;

border: 0;
height: 1px;
background: #0094FF;
background-image: -webkit-linear-gradient(left, #ffffff, #000, #ffffff); 

}
#main-content{
    margin-top:60px;
    margin-left: 30px;
    width: calc(100% - 60px);
    height: 100%;
}
.title{
    font-family: 'Lato','Segoe UI', sans-serif;
    font-size: 22px;
    
    color: #133d4d;
}


.description{
    display:inline-block;
    margin-top: 30px;
    font-family: 'Lato','Segoe UI', sans-serif;
    width: 40%;
    color: #133d4d;
    
    
}


.preview-ss{
    display:inline-block;
    vertical-align: middle;
    width: 30%;
    margin-left: 10%;
}

#sw-ss img{
    height: 550px;
}

#yosh-ss img{
    width: 550px;
}
/*
#sw-ss{
    position:absolute;
}
*/
#lot-ss {
    vertical-align: top;
    display: inline-block;
}
#lot-ss img{
    width: 700px;
}

#sp-ss{
    display:inline-block;
    vertical-align: middle;
    height: 30%;
    margin-left: 10%;
}

#sp-ss img{
    height:550px;
}

#sw-ss{
    vertical-align:top;
}   


.goto{
    margin-top: 30px;
    width: 55%;
    
}

.btn-text{
    margin-top: 3px;
    
}
a.goto-link {
    width: 100px;
    height: 25px;
    background-color: #009688;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
/*    box-shadow: 0px 3px 8px #000000;*/
    display: inline-block;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    font-family: 'Lato','Segoe UI', sans-serif;
    font-size: 16px;
    user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

a.goto-link:hover,a.goto-link:focus,a.goto-link:active{
    background:#00695C;
    
    
    
}
.goto-link-disabled{
    width: 100px;
    height: 25px;
    background:#7b7b7b;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: not-allowed;
    display: inline-block;
    -webkit-transition: all 0.15s linear;
    font-family: 'Lato','Segoe UI', sans-serif;
    font-size: 16px;
    user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

a{
    
    text-decoration: none;
}
        


.page-divider{
    width: 90%;
    height:1px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    background: #9d9d9d;
}

li {
    margin-top: 10px;
}

#sw-ss img{
    width:600px;
    height:auto;
}

#lvoc-ss img{
    width: 500px;
    height:auto;
}

@media screen and (max-width: 834px) {
    #main-content{
        text-align: center;    
        height: 100%;
    }
    .description{
        display:inline-block;
        margin-top: 30px;
        font-family: 'Lato','Segoe UI', sans-serif;
        width: 100%;
        text-align: left;
    
    }
    
    .preview-ss{
       text-align: left;
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;
        right: 30%;
    }
    
    .goto{
        width: 100%;

    }
    
     #lot-ss{
        text-align: left;
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;
        right: 30%;
     }
    
    
    #sw-ss{
        text-align: left;
        margin-top: 40px;
        margin-bottom: 40px;
        position: relative;
        right: 30%;
    }
    
    
    
}